.badge {
    display: inline-flex;
    align-items: center;
    flex-shrink: 1;
    min-width: 0px;
    height: 18px;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
    line-height: 120%;
    margin: 0px;
}

.badge-Open {
    color: rgb(55, 53, 47);
    background: rgba(233, 168, 0, 0.2);
}

.badge-Inprogress {
    color: rgb(55, 53, 47);
    background: rgba(0, 120, 223, 0.2);
}
.badge-Completed {
    color: rgb(55, 53, 47);
    background: rgba(255, 0, 26, 0.2);
}

.badge-Closed {
    color: rgb(55, 53, 47);
    background: rgba(103, 36, 222, 0.2);
}

.task {
    border: solid 1px #444;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 8px;
}
.task.add {
    border: dashed 1px #444;
    text-align: center;
    vertical-align: text-bottom;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width:100%;
}

.task-header {
    margin: 10px;
    position: relative;
}

.task-title {
    max-width: 90%;
    font-weight: bold;
}

.task-meta-area {
    margin: 10px;
    line-height: 1.5;
}
.task-meta-area .meta {
    padding-bottom: 0px;
    font-size: 12px;
}