.Task{
    background-color: white;
    width: 90%;
    display: block;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
    text-overflow: ellipsis;
    padding: 0 20px;
    box-shadow: 0 8px 38px rgba(133, 133, 133, 0.3), 0 5px 12px rgba(133, 133, 133, 0.22);
}

.Task__userid{
    font-size: 15px;
    padding-bottom: 15px;
    color: rgb(22, 28, 32);
}

.Task__description{
    box-sizing: border-box;
    text-overflow: ellipsis;
    color: slategrey;
    overflow: hidden;
}

.Task h1{
    font-size: 25px;
    font-weight: 400;
    color: purple;
}